[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MittagLeffleR"]
	path = MittagLeffleR
	url = https://github.com/strakaps/mittagleffler
